.Contact {
    background-color: #050101;
    color: white;
    padding: 50px;
    text-align: center;
  
  }
  .contactme{

    display: inline;
  }
  .social-media a{
    padding: 30px;
    margin: 50px;
  }
.Contact h2 {

    margin: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
.social-media a :hover{

color: blueviolet;

}